*{
    /* background-color: teal; */
}

.section1{
    width: 100%;
    height:400px;
    background-image: url(images/image3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}



.section1 p{
     color: #fff;
}

.section2 p{
    width: 100%;
    height: 300px;
    font-size: large;
    background-color: #eee;
    color: blue;
}